body {
    font-family: Roboto, Oxygen, Ubuntu;
    margin: 0;
}

/*header*/
header,
.top-content {
    background-color: #1F2937;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: white;
}

/*top content*/

.top-content img {
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 200px 100px 200px;
}

.left-text {
    width: 400px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-text .welcome {
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    width: 90px;
}

/*Middle content section*/

.mid-content {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 100px;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.gallery {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 2px;
    border-style: solid;
}

.gallery-content {
    text-align: center;
}

/* Testimony section */

.testimony {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.testimony p {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    width: 500px;

}

.testimony div {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    font-weight: bold;
}

/* contact section */

.contact {
    background-color: white;
    padding: 80px 50px;
    display: flex;
    justify-content: center;
}

.reach-text {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.float-box {
    background-color:#3882F6;
    color: white;
    padding: 30px 100px 30px 100px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.float-box button {
    border-style: solid;
    border-color: white;
}

/*footer*/

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}